{% extends 'blog/base.html' %}


     
{% block content %}

<h3 class="border-bottom"> من انا  </h3>

<div class="container cv">

  <h1>  Software Engineer | JavaScript | Python, Django, DRF | Java </h1>



<h3>
    Senior Forecaster
    
    Department of Meteorology in Morocco, Casablanca (Morocco)
</h3>
    <ul>
        <li> Warning Coordination Meteorologist </li>
        <li> Warning Coordination Meteorologist
    
        Meteorologist Developer  </li>
        <li> Weather forecasting in mid-latitude regions
    
            Météo-France, Toulouse (France)</li>

            <li>
                Satellite data
    
                , NWP models
                
                ,Forecaster’s tools
                
                , General Weather Forecasts
                
    , Satellite data
    
    , NWP models
    
    , Forecaster’s tools
            </li>


            <li>
                Satellite data
    
                	NWP models
                
                	Forecaster’s tools
                
               	General Weather Forecasts
                
                Satellite applications in meteorology
                
                EUMETSAT/EAMAC), Niamey (Niger)
            </li>
            <li>

                
    
    	Optimize the use of data from meteorological satellites.
    
    	Increase knowledge and skills to improve forecasting.
    
    Python | Django Developer | Java professional
    
    DGMN, Casablanca (Morocco)
    
    	Using Python and Django Framework to develop the backend of the web application, along with
    
    REST API.
    
    	Worked with tables from PostgreSQL database with python.
    
    	Use Django framework to build web applications.
    
    	Create weather application using darksky API and python.
    
    	Build an e commerce website.
    
    	Developing  web applications on Heroku, AWS, DigitalOcean  and Pythonanywhere. 
    
     
            </li>

            <li>

                15 Sep 2011–22 Jun 2014	Meteorological engineer
    
                Hassania School of Public Works, Casablanca (Morocco)
                
                15 Sep 2009–26 Jun 2011	The Diploma of General University Studies in Applied Mathematics (DEUG)
                 
                
                                                            Ibn tofail university, Kenitra (Morocco)
                
            

            </li>
    </ul> 
    
    
    
    
  
    
</div>
{% endblock content %}