{% extends 'blog/base.html' %}


{% block content %}




            <div class="border p-4 mb-5 ">
                <legend class="border-bottom pb-1 mb-3"> تسجيل الدخول   </legend>

                {% if messages %}
{% for message in messages  %}
  

<div class="alert alert-{{message.tags}}" >
{{message}}

</div>
{% endfor %}      

{% endif %}


            <form method="POST">
              {% csrf_token %}

              <div class="form-groupe">
                <label for="username"> اسم المستخدم  </label>
                <input class="form-control" type="text" name ="username" id="username" placeholder="قم بكتابة اسم المستخدم">
              </div>

              <div class="form-groupe">
                <label for="password"> كلمة المرور  </label>
                <input class="form-control" type="password" name ="password" id="password" placeholder=" كلمة المرور  ">
              </div>


              <input class="btn btn-secondary mt-4" type="submit" value=" تسجيل الدخول  ">
            </form>
            
            <div class="border-top mt-4 pt-2">
                <small>
اذا لم يكن لديك حساب من قبل فيمكنك 
                    <a href="{% url 'register' %}"> التسجيل من هنا   </a>
                </small>
            </div>
        </div>

{% endblock content %}